$background_colour: rgb(51, 51, 46);
$font_colour: rgba(232, 232, 222);
$header_colour: rgb(110, 110, 98);


body{
    margin-left: auto;
    margin-right: auto;
    background-color: $background_colour;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}


*{
    box-sizing: border-box;
    text-decoration: none;
}


a, p, h1, h2, h3, li{
    color: $font_colour;
    font-family: sans-serif;
    margin: 0;
}

p{
    font-size: 12px;
}

header{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: 3%;
    background-color: $header_colour;

    nav{
        display: flex;
        justify-content: space-around;
        width: 40%;
        font-size: 16px;
    }
}

.photo_box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6%;

    img{
        width: 20%;
        height: 20%;
        border-radius: 5%;
    }

}

.personal_info{
    margin-left: 5%;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
    width: 60%;

}

.my_skills{
    margin-left: 70%;
}